<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Add a new comment to <%=campground.name%></h1>
        <div style="width:30%; margin:25px auto;">
            <form method="POST" action="/campgrounds/<%=campground._id%>/comments">
                <div class="form-group">
                <input class="form-control" type="text" placeholder="Author" name="comments[author]">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="text" name="comments[text]">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Submit!</button>
                </div>
               
            </form>
            <a href="/campgrounds">Go back</a>
        </div>
    </div>
</div>
<% include ../partials/footer%>