<% include partials/header %>

<h1>Login form</h1>

<form action='/login' method='POST'>
    <input name='username' type='text' placeholder='username'>
    <input name='password' type='password' placeholder='password'>
    <button>submit</button>
</form>

<% include partials/footer %>