<% include partials/header %>

<h1>Register form</h1>

<form action='/register' method='post'>
    <input type="text" name='username' placeholder='username'>
    <input type="password" name='password' placeholder='password'>
    <button>Submit</button>
</form>

<% include partials/footer %>