<%include ../partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p>YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 1</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
               <img  class="img-responsive" src="<%= foundCampground.image%>"> 
            </div>
            <div class="caption-full">
                <h4 class="pull-right">$9.00/night</h4>
                <h4><a><%=foundCampground.name%></a></h4>
                <p><%=foundCampground.description %></p>
                <p><%=foundCampground.location %></p>
            </div>
            
            <div class="well">
                <div class="pull-right">
                    <a href="/campgrounds/<%=foundCampground._id%>/comments/new" class="btn btn-success btn-large">Add a new comment</a>
                </div>
                <% foundCampground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author%></strong>
                            <span class="pull-right">10 days ago</span>
                                        <p>
                                             <%=comment.text%>
                                        </p>
                        </div>
                    </div>
        
                <% }); %>
            </div>
            <a href="/campgrounds/delete/<%=foundCampground._id%>/" class="btn btn-danger btn-large">DELETE CAMPGROUND!</a>
        </div>


    </div>
</div>





<%include ../partials/footer%>