.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 40px;
  }

  
.thumbnail{
    padding:0;
}

.thumbnail .caption-full{
    padding:9px;
}